h1 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0px;
}
h1 i {
    font-size: 48px;
    margin-right: 15px;
}
.bar h1, .bar.top label b {
    color: #fff;
}
.bar.top label b {
    color: #e2e2e2;
}
.bar.top p {
    color: #fff;
    font-size: 16px;
    opacity: 0.7;
}
.bar label b {
    margin-right: 20px;
}
.bar {
    background-color: #2a2a2a;
    position: absolute;
    width: 100%;
    box-shadow: 0px 5px 8px rgba(231, 231, 231, 0.5);
}
.bar.bottom {
    background-color: #fff;
    bottom: 0;
    box-shadow: 0px -5px 8px rgba(231, 231, 231, 0.5);
}
.btn {
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
}
.circle {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e7e7;
    border: 3px solid #ddd;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 40px;
    color: #9a9a9a;
}
.color-scale {
    height: 40px;
    min-width: 350px;
    display: block;
    border: 3px solid #ddd;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    border-radius: 50px;
}
.color-scale a {
    margin-top: -40px;
    font-weight: bold;
    display: block;
}
.gradient-color {
    background: linear-gradient(to right, #dc3545, #ffc107, #28a745);
}
.circle.color {
    color: #fff;
}
.tool-tip {
    opacity: 1!important;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5)!important;
    font-size: 16px;
    padding: 25px;
}
.tool-tip .circle {
    width: 45px;
    height: 45px;
    font-size: 24px;
    border: none;
    margin-right: 10px;
}
.tool-tip .fa-flag {
    margin-right: 10px;
}
.tool-tip .flex {
    margin-top: 10px;
}
p.tool-tip-title {
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: bold;
}
.filter-button {
    color: #9a9a9a;
}
.filter-button i {
    font-size: 14px;
}
.filter-button:hover {
    text-decoration: none;
    color: #9a9a9a;
}
.filter-button.active i {
    display: inline-block;
}
.filter-button.active {
    color: #2a2a2a;
}