.slide {
    width: 100%;
    min-height: 700px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.slide .description {
    max-width: 550px;
    text-align: left;
    background-color: #2a2a2a;
    color: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.slide.full {
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide.full .description {
    position: static;
}
.slide .description .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}